<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

        <nav>
            <ul>
                <li><a href='/history'>Transaction History</a></li>
                <li><a href='/transfer'>Transfer</a></li>
                <li><a href='/openAccount'>Open New Account</a></li>
                <li><a href='/addSigner'>Add Others to your Accounts</a></li>
            </ul>
        </nav>
        <h1> Account information</h1>
        <h3>Customer ID: <%=data.ID%> </h3>

        <% if(data.accounts.length > 0){ %>
        <ul>
            <%data.accounts.forEach((item)=>{%>
                <li>Account Number: <%=item.account_number%> Balance: $<%=item.balance%></li>
            <%})%>
        </ul>

        <% }else{ %>
            <div> You have no bank accounts. Click "Open New Account" to get started.</div>
        <%}%>

        <h4> Recent Transactions involving your accounts</h4>
        
        <% if(data.transactions.length > 0){ %>
            <ul>
                <%data.transactions.forEach((item)=>{%>
                <li>  Transaction Number: <%=item.transaction_num%>, From Account:  <%=item.sender_acc%>, To Account: <%= item.receiver_acc%>, Ammount: $<%=item.ammount%>, Time: <%=item.time_stamp%></li>
                <%})%>
            </ul>

            <% }else{ %>
                <div> No Transactions Made</div>
            <%}%>
        
    </body>
</html>